.NewTodoForm {
  display: flex;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.NewTodoForm label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.NewTodoForm input {
  flex-grow: 1;
  border: none;
  background-color: #ededed;
  padding: 0px 1.5em;
  font-size: initial;
  outline: none;
  width: 30px;
  border-radius: 4px;
}
.NewTodoForm input:focus{
background-color: rgba(172, 255, 47, 0.164);
border: 1px solid rgba(0, 128, 0, 0.253);

}
.NewTodoForm button {
  padding: 0 0.8rem;
  border: none;
  background: #0084ff;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.4s ease-out;
  outline: none;
  border-radius:20px ;
}
.NewTodoForm button:hover {
  background: #2495ff;
}
.NewTodoForm input,
.NewTodoForm button {
  font-family: "Quicksand", sans-serif;
  height: 2rem;
}

#addTask{

  background-color: #ededed;
  margin-top: 20px;
  width: 18.5rem;
  border-radius: 5px;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif;
}