.TodoList {
  margin: 2.5rem ;
  box-shadow: 1px 1px  2px 2px rgb(100 100 100 / 10%);
  padding: 1rem 1rem 1rem;
  width: 360px;
  background: #f8f8f8;
  color: rgb(73, 73, 73);
  border-radius: 3px;

  overflow: hidden;
}
.TodoList:hover {
 
  box-shadow: 1px 1px 5px 5px rgb(100 100 100 / 10%);
cursor: pointer;
}
.TodoList ul {
  margin-top: 2.6rem;
  list-style: none;
}

.TodoList h1 {
  font-weight: normal;
  font-size: 1.2rem;
  color: black;
  text-align: center;

  letter-spacing: 0.05em;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}
.TodoList h1 span {
  display: block;
  font-size: 0.5rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}

.todo-enter {
  opacity: 0;
}
.todo-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.todo-exit {
  opacity: 1;
}
.todo-exit-active {
  /* opacity: 0; */
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease-in-out;
}

.Todo .Todo-buttons i {
  display: inline-block;
}
.form-enter {
  transform: translateY(77px);
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  position: absolute;
}
.form-enter-active {
  transform: translateY(0%);
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  position: absolute;
}
.form-exit {
  transform: translateY(0%);
  position: absolute;
}
.form-exit-active {
  transform: translateY(77px);
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  position: absolute;
}

.task-text-enter {
  transform: translateY(-77px);
  position: absolute;
}
.task-text-enter-active {
  transform: translateY(0);
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  position: absolute;
}
.task-text-exit {
  transform: translateY(0);
  position: absolute;
}
.task-text-exit-active {
  transform: translateY(-77px);
  position: absolute;
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
